
.bg-gray { background-color: #f3f3f3; }

.b-radius-5 { border-radius: 5px; }

.logo { width: 200px; }

.font-20 { font-size: 20px; }
 	
.color-gray { color: #cbcbcb; }
.color-yellow { color: #FFB858; }

.margin-top-10 { margin-top: 10px;  }
.margin-top-15 { margin-top: 15px;  }
.margin-top-20 { margin-top: 20px;  }
.margin-top-25 { margin-top: 25px;  }
.margin-top-30 { margin-top: 30px;  }

.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }

.padding-top-10 { padding-top: 10px;  }
.padding-top-15 { padding-top: 15px;  }
.padding-top-20 { padding-top: 20px;  }
.padding-top-25 { padding-top: 25px;  }
.padding-top-30 { padding-top: 30px;  }

.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }

.no-padding { padding: 0px; }
.no-radius { border-radius: 0px; }

.w-100 { width: 100%; }

.card 
{
	padding: 0px;
	border: 1px solid #cbcbcb;
	border-radius: 4px;
}
.card:hover
{
	cursor: pointer;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

a:hover { text-decoration: none; }

.btn-favorite {
	position: absolute;
	top: 10px;
	right: 10px; 
	color: #FFFFFF; 
	background-color: #FF8C8C; 
	border-color: #FF8C8C; 
	border-radius: 8px;
} 
 
.btn-favorite:hover, 
.btn-favorite:focus, 
.btn-favorite:active, 
.btn-favorite.active, 
.open .dropdown-toggle.btn-favorite { 
  color: #FFFFFF; 
  background-color: #FF1C1C; 
  border-color: #FF8C8C; 
} 
 
.btn-favorite:active, 
.btn-favorite.active, 
.open .dropdown-toggle.btn-favorite { 
  background-image: none; 
} 
 
.btn-favorite.disabled, 
.btn-favorite[disabled], 
fieldset[disabled] .btn-favorite, 
.btn-favorite.disabled:hover, 
.btn-favorite[disabled]:hover, 
fieldset[disabled] .btn-favorite:hover, 
.btn-favorite.disabled:focus, 
.btn-favorite[disabled]:focus, 
fieldset[disabled] .btn-favorite:focus, 
.btn-favorite.disabled:active, 
.btn-favorite[disabled]:active, 
fieldset[disabled] .btn-favorite:active, 
.btn-favorite.disabled.active, 
.btn-favorite[disabled].active, 
fieldset[disabled] .btn-favorite.active { 
  background-color: #FF8C8C; 
  border-color: #FF8C8C; 
} 
 
.btn-favorite .badge { 
  color: #FF8C8C; 
  background-color: #FFFFFF; 
}


.btn-search { 
  color: #FFFFFF; 
  background-color: #1BCFC9; 
  border-color: #1BCFC9; 
} 
 
.btn-search:hover, 
.btn-search:focus, 
.btn-search:active, 
.btn-search.active, 
.open .dropdown-toggle.btn-search { 
  color: #FFFFFF; 
  background-color: #39ADAD; 
  border-color: #1BCFC9; 
} 
 
.btn-search:active, 
.btn-search.active, 
.open .dropdown-toggle.btn-search { 
  background-image: none; 
} 
 
.btn-search.disabled, 
.btn-search[disabled], 
fieldset[disabled] .btn-search, 
.btn-search.disabled:hover, 
.btn-search[disabled]:hover, 
fieldset[disabled] .btn-search:hover, 
.btn-search.disabled:focus, 
.btn-search[disabled]:focus, 
fieldset[disabled] .btn-search:focus, 
.btn-search.disabled:active, 
.btn-search[disabled]:active, 
fieldset[disabled] .btn-search:active, 
.btn-search.disabled.active, 
.btn-search[disabled].active, 
fieldset[disabled] .btn-search.active { 
  background-color: #1BCFC9; 
  border-color: #1BCFC9; 
} 
 
.btn-search .badge { 
  color: #1BCFC9; 
  background-color: #FFFFFF; 
}


.box-link-active {
	border: 1px solid #cbcbcb;
	padding: 10px;
	background-color: transparent;
	color: rgba(0,0,0,.6);
}


.box-link-active:hover {
	background-color: rgba(50,50,50,.1);
}


.box-link {
	border: 1px solid transparent;
	padding: 10px;
	background-color: transparent;
	color: rgba(0,0,0,.6);
}


.box-link:hover {
	border: 1px solid #cbcbcb;
	background-color: rgba(50,50,50,.1);
}

.btn-list {
	color: #FFB858;
	font-size: 20px;
	background-color: transparent;	
	padding: 7px;
	margin-right: 10PX;
	border: 1px solid transparent;
}

.btn-list:hover {
	color: rgba(255,184,88,.8);
	border: 1px solid rgba(255,184,88,.8);
}

.btn-th {
	color: #1BCFC9;
	font-size: 20px;
	background-color: transparent;	
	padding: 7px;
	margin-right: 10PX;
	border: 1px solid transparent;
}

.btn-th:hover {
	color: #39ADAD;
	border: 1px solid #39ADAD
}


.btn-group .btn { text-align: inherit; }
.option-blue {
	padding: 7px;
}

.dropdown-list{
	line-height: 35px !important;
	border-bottom: 1px solid #cbcbcb;
	color: rgba(27,207,201,1) !important;
}
.dropdown-list:hover {
	background-color: inherit !important;
	color: rgba(27,207,201,.7) !important;
	opacity: .7 !important;
}
.dropdown-menu { 
	padding-bottom: 0px; 
	padding-top: 0px;
}

.icon-list {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.filter-container {
	border: 1px solid #cbcbcb;
	padding: 5px 15px 5px 15px;
}


.btn-filter { 
  color: #ffffff; 
  background-color: #BD1B1B; 
  border-color: #BD1B1B; 
  width: 100%;
  border-radius: 2px;
  cursor: default;
} 
 
.btn-filter:hover, 
.btn-filter:focus, 
.btn-filter:active, 
.btn-filter.active, 
.open .dropdown-toggle.btn-filter { 
  color: #ffffff; 
  background-color: #CF0000; 
  border-color: #BD1B1B; 
} 
 
.btn-filter:active, 
.btn-filter.active, 
.open .dropdown-toggle.btn-filter { 
  background-image: none; 
} 
 
.btn-filter.disabled, 
.btn-filter[disabled], 
fieldset[disabled] .btn-filter, 
.btn-filter.disabled:hover, 
.btn-filter[disabled]:hover, 
fieldset[disabled] .btn-filter:hover, 
.btn-filter.disabled:focus, 
.btn-filter[disabled]:focus, 
fieldset[disabled] .btn-filter:focus, 
.btn-filter.disabled:active, 
.btn-filter[disabled]:active, 
fieldset[disabled] .btn-filter:active, 
.btn-filter.disabled.active, 
.btn-filter[disabled].active, 
fieldset[disabled] .btn-filter.active { 
  background-color: #BD1B1B; 
  border-color: #BD1B1B; 
} 
 
.btn-filter .badge { 
  color: #BD1B1B; 
  background-color: #ffffff; 
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.slider.slider-horizontal {
	width: 100% !important;
}

#bg-gray .slider-handle {
	background: orange;
}
#bg-gray .slider-selection {
	background: #1BCFC9;
}

.btn-launch-modal {
	border-radius: 4px;
	padding: 2px 10px 10px 10px;
	cursor: pointer;
	border: 1px solid #cbcbcb;
}
.btn-launch-modal > small { 
	text-transform: uppercase;
	font-size: 10px;
}

.btn-launch-modal:hover {
	background-color: #eee;
}

.gray-separator {
	background-color: #edeceb;
	display: block;
	width: 100%;
	height: 2rem;
	padding: 0px;
}

ul.list-location {
	margin-top: 20px;
	margin-left: 20px;
	padding: 0px;
}

ul.list-location > li {
	list-style: none;
	color: #231f20;
	cursor: pointer;
}

ul.list-location > li:hover {
	color: rgba(0,0,0,.6);
}


.modal-body-scroll {
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.modal-category-list {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cbcbcb;
}

.product-card {
	padding: 0px;
	border-radius: 4px;
	border: 1px solid #eee;
	
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

.product-image {
	width: 100%;
	border-radius: 4px 0 0  4px;
}