
.logo { width: 200px; }

.margin-top-10 { margin-top: 10px;  }
.margin-top-15 { margin-top: 15px;  }
.margin-top-20 { margin-top: 20px;  }
.margin-top-25 { margin-top: 25px;  }
.margin-top-30 { margin-top: 30px;  }

.padding-top-10 { padding-top: 10px;  }
.padding-top-15 { padding-top: 15px;  }
.padding-top-20 { padding-top: 20px;  }
.padding-top-25 { padding-top: 25px;  }
.padding-top-30 { padding-top: 30px;  }

.padding-15 { padding: 15px; }

.no-padding { padding: 0px; }

.card 
{
	padding: 0px;
	border: 1px solid #cbcbcb;
	border-radius: 4px;
}
.card:hover
{
	cursor: pointer;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

a:hover { text-decoration: none; }

.btn-favorite {
	position: absolute;
	top: 10px;
	right: 10px; 
	color: #FFFFFF; 
	background-color: #FF8C8C; 
	border-color: #FF8C8C; 
	border-radius: 8px;
} 
 
.btn-favorite:hover, 
.btn-favorite:focus, 
.btn-favorite:active, 
.btn-favorite.active, 
.open .dropdown-toggle.btn-favorite { 
  color: #FFFFFF; 
  background-color: #FF1C1C; 
  border-color: #FF8C8C; 
} 
 
.btn-favorite:active, 
.btn-favorite.active, 
.open .dropdown-toggle.btn-favorite { 
  background-image: none; 
} 
 
.btn-favorite.disabled, 
.btn-favorite[disabled], 
fieldset[disabled] .btn-favorite, 
.btn-favorite.disabled:hover, 
.btn-favorite[disabled]:hover, 
fieldset[disabled] .btn-favorite:hover, 
.btn-favorite.disabled:focus, 
.btn-favorite[disabled]:focus, 
fieldset[disabled] .btn-favorite:focus, 
.btn-favorite.disabled:active, 
.btn-favorite[disabled]:active, 
fieldset[disabled] .btn-favorite:active, 
.btn-favorite.disabled.active, 
.btn-favorite[disabled].active, 
fieldset[disabled] .btn-favorite.active { 
  background-color: #FF8C8C; 
  border-color: #FF8C8C; 
} 
 
.btn-favorite .badge { 
  color: #FF8C8C; 
  background-color: #FFFFFF; 
}
